
@{
    ViewBag.Title = "LOrder";
    Layout = "~/Views/Shared/_Sale.cshtml";
}
@using Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Lease>
<link href="~/Content/page.css" rel="stylesheet" />
<div class="dashboard-list">
    @foreach (var item in Model)
    {
        <div class="property-box-2">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-pad">
                    <div class="property-thumbnail">
                        <a href="~/Controllers/Lease/Index/LeaseID=@item.LeaseID" class="property-img">
                            <img src="~/Content/Renting/@item.LImg.FirstOrDefault().Photo" alt="properties" class="img-fluid" style="width:650px;height:350px">
                            <div class="price-box"><span>@item.LeasePrice 元</span> 平</div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-pad align-self-center">
                    <div class="detail">
                        <h3 class="title">
                            <a href="Index?LeaseID=@item.LeaseID">@item.LeaseHStructure</a>
                        </h3>
                        <h5 class="location">
                            <a href="#">
                                <i class="flaticon-pin"></i>@item.LeaseAddress / @item.LeaseVillage
                            </a>
                        </h5>
                        <ul class="facilities-list clearfix">
                            <li>
                                房屋朝向：
                                @if (item.LeaseOrientation == 1)
                                {
                                    @:坐北朝南
                                }
                                else if (item.LeaseOrientation == 2)
                                {
                                    @:坐南朝北
                                }
                                else if (item.LeaseOrientation == 3)
                                {
                                    @:坐东朝西
                                }
                                else
                                {
                                    @:坐西朝东
                                }
                            </li>
                            <li>
                                装修情况：@if (item.LeaseCheckin == 1)
                                {
                                    @:入住
                                }
                                else
                                {
                                    @:需整理
                                }
                            </li>
                            <li>
                                房屋主人：@item.Userd.UserName
                            </li>
                            <li>
                                上架时间：@string.Format("{0:d}", item.NewTime)

                            </li>
                            <li><a href="EditLease?LeaseID=@item.LeaseID"><i class="fa fa-pencil"></i> 修改</a></li>
                            <li>
                                <label>订单状态：</label>
                                @if (item.TransactionStatus == 0)
                                {
                                    @:待售
                                }
                                else if (item.TransactionStatus == 1)
                                {
                                    @:出售
                                }
                                else
                                {
                                    @:下架
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- 分页 -->
<div class="pagination-box p-box-2 text-center">

    @Html.PagedListPager(Model, page => Url.Action("LOrder", new { page }))
</div>


