
@using Models
@{
    ViewBag.Title = "LeaseDetails";
    Layout = "~/Views/Shared/_House.cshtml";
    List<Sell> Selllist = new List<Sell>();
    List<Lease> Leaselist = new List<Lease>();
    if (Session["Leaselist"] != null)
    {
        Leaselist = Session["Leaselist"] as List<Lease>;
    }
    if (Session["Selllist"] != null)
    {
        Selllist = Session["Selllist"] as List<Sell>;
    }


}

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>出租列表</h1>
            <ul class="breadcrumbs">
                <li><a href="../HomePage/index">首页</a></li>
                <li class="active">出租列表</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->
<!-- Properties section start -->
<div class="properties-section content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- Option bar start -->
                <div class="option-bar clearfix">
                    <div class="sorting-options2">
                        <span class="sort">排序方式：</span>
                        <select class="selectpicker search-fields" name="default-order">
                            <option>默认排序</option>
                            <option>价格从高到低</option>
                            <option>价格从低到高</option>
                            <option>最新上架</option>
                            <option>最早上架</option>
                        </select>
                    </div>
                    <div class="sorting-options float-right">
                        @*<a href="properties-list-rightside.html" class="change-view-btn active-view-btn float-right"><i class="fa fa-th-list"></i></a>*@
                        <a href="LeaseDetails" class="change-view-btn float-right"><i class="fa fa-th-large"></i></a>
                    </div>
                </div>
                <!-- Property box 2 start -->
                @if (Selllist != null && Selllist.Count() != 0)
                {
                    foreach (var item in Selllist)
                    {
                        <div class="property-box-2">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-pad">
                                    <div class="property-thumbnail">
                                        <a href="Index?SellID=@item.SellID" class="property-img">
                                            <img src="~/Content/Selling/@item.SImg.FirstOrDefault().Photo" alt="properties" class="img-fluid" style="width:300px;height:200px;">
                                            <div class="tag"><a href="/Selling/Index?SellID=@item.SellID" style="color:white;">关注</a></div>
                                            <div class="price-box"><span>@item.SellPrice 元</span> 平</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-pad align-self-center">
                                    <div class="detail">
                                        <h3 class="title">
                                            <a href="/Selling/Index?SellID=@item.SellID">@item.SellHStructurechar</a>
                                        </h3>
                                        <h5 class="location">
                                            <a href="#">
                                                <i class="flaticon-pin"></i>@item.SellAddress / @item.SellVillage
                                            </a>
                                        </h5>
                                        <ul class="facilities-list clearfix">
                                            <li>
                                                房屋朝向：
                                                @if (item.SellOrientation == 1)
                                                {
                                                    @:坐北朝南
                                                }
                                                else if (item.SellOrientation == 2)
                                                {
                                                    @:坐南朝北
                                                }
                                                else if (item.SellOrientation == 3)
                                                {
                                                    @:坐东朝西
                                                }
                                                else
                                                {
                                                    @:坐西朝东
                                                }
                                            </li>
                                            <li>
                                                装修情况：@item.SellRenovation
                                            </li>
                                            <li>
                                                实际面积：@item.SellAreaTo
                                            </li>
                                            <li>
                                                看房时间：
                                                @if (item.SellTime == 1)
                                                {
                                                    @:上午
                                                }
                                                else if (item.SellTime == 2)
                                                {
                                                    @:下午
                                                }
                                                else if (item.SellTime == 3)
                                                {
                                                    @:晚上
                                                }
                                                else
                                                {
                                                    @:全天
                                                }

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
                else if (Leaselist != null && Leaselist.Count() != 0)
                {
                    foreach (var item in Leaselist)
                    {
                        <div class="property-box-2">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-pad">
                                    <div class="property-thumbnail">
                                        <a href="Index?SellID=@item.LeaseID" class="property-img">
                                            <img src="~/Content/Selling/@item.LImg.FirstOrDefault().Photo" alt="properties" class="img-fluid">
                                            <div class="price-box"><span>@item.LeasePrice 元</span> 平</div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-7 col-pad align-self-center">
                                    <div class="detail">
                                        <h3 class="title">
                                            <a href="/Selling/Index?SellID=@item.LeaseID">@item.LeaseHStructure</a>
                                        </h3>
                                        <h5 class="location">
                                            <a href="#">
                                                <i class="flaticon-pin"></i>@item.LeaseAddress / @item.LeaseVillage
                                            </a>
                                        </h5>
                                        <ul class="facilities-list clearfix">
                                            <li>
                                                房屋朝向：
                                                @if (item.LeaseOrientation == 1)
                                                {
                                                    @:坐北朝南
                                                }
                                                else if (item.LeaseOrientation == 2)
                                                {
                                                    @:坐南朝北
                                                }
                                                else if (item.LeaseOrientation == 3)
                                                {
                                                    @:坐东朝西
                                                }
                                                else
                                                {
                                                    @:坐西朝东
                                                }
                                            </li>
                                            <li>
                                                装修情况：@if (item.LeaseCheckin == 1)
                                                {
                                                    @:入住
                                                }
                                                else
                                                {
                                                    @:需整理
                                                }
                                            </li>
                                            <li>
                                                维护时间：@item.LeaseMaintain
                                            </li>
                                            <li>
                                                看房时间：
                                                @if (item.LeaseTime == 1)
                                                {
                                                    @:上午
                                                }
                                                else if (item.LeaseTime == 2)
                                                {
                                                    @:下午
                                                }
                                                else if (item.LeaseTime == 3)
                                                {
                                                    @:晚上
                                                }
                                                else
                                                {
                                                    @:全天
                                                }

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="property-box-2">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-pad">
                                <div class="property-thumbnail">
                                    <a href="#" class="property-img">
                                        <img src="~/Content/Selling/waneng1.jpg" alt="properties" class="img-fluid">
                                        <div class="price-box"><span>--- 元</span> 平</div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-pad align-self-center">
                                <div class="detail">
                                    <h3 class="title">
                                        <a href="#">没有满足要求的房屋哦</a>
                                    </h3>
                                    <h5 class="location">
                                        <a href="#">
                                            <i class="flaticon-pin"></i>----
                                        </a>
                                    </h5>
                                    <ul class="facilities-list clearfix">
                                        <li>
                                            房屋朝向：----

                                        </li>
                                        <li>
                                            装修情况：----
                                        </li>
                                        <li>
                                            实际面积：----
                                        </li>
                                        <li>
                                            看房时间：----


                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <!-- Page navigation start -->
                <div class="pagination-box p-box-2 text-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="LeaseDetails" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="LeaseDetails">1</a></li>
                            <li class="page-item"><a class="page-link" href="LeaseDetails">2</a></li>
                            <li class="page-item"><a class="page-link" href="LeaseDetails">3</a></li>
                            <li class="page-item">
                                <a class="LeaseDetails" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    <!-- Advanced search start -->
                    <div class="widget advanced-search">
                        <h3 class="sidebar-title">搜索属性</h3>
                        <form method="post">
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="all-status">
                                    <option>所有状态</option>
                                    <option>出售</option>
                                    <option>已售</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="all-type">
                                    <option>所有类型</option>
                                    <option>别墅</option>
                                    <option>一室一厅</option>
                                    <option>三室一厅</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="commercial">
                                    <option>面积</option>
                                    <option>20-40</option>
                                    <option>40-80</option>
                                    <option>80以上</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="selectpicker search-fields" name="location">
                                    <option>位置</option>
                                    <option>丹桂苑</option>
                                    <option>翠竹苑</option>
                                    <option>玉兰苑</option>
                                    <option>其它</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="bedrooms">
                                            <option>租赁方式</option>
                                            <option>合租</option>
                                            <option>整租</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="choose-state">
                                            <option>看房时间</option>
                                            <option>上午（8:00-12：00）</option>
                                            <option>下午（14：00-18:00）</option>
                                            <option>晚上（19:30-22:00）</option>
                                            <option>全天（8:00-22:00）</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group mb-0">
                                <button class="search-button">查找</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties section end -->
