
@{ ViewBag.Title = "Index";
               Layout = "~/Views/Shared/_House.cshtml"; }
<style>


    .xiangiqng {
        height: 1800px;
        margin-top: 100px;
    }

    .total {
        width: 20%;
        font-size: 32px;
        color: red;
        font-weight: 600;
        float: left;
    }

    .ptext {
        width: 40%;
        float: left;
    }

    .unitPriceValue {
        font-size: 20px;
        font-weight: 400;
    }

    .price {
        margin-top: 30px;
        height: 60px;
        border-bottom: 1px solid #eeeeee;
    }

    .houseInfo {
        margin-top: 20px;
        width: 100%;
        height: 120px;
        border-bottom: 1px solid #eeeeee;
        overflow: hidden;
    }

    .room, .type, .area {
        width: 33%;
        float: left;
        margin-bottom: 20px;
    }

    .mainInfo {
        font-size: 18px;
        font-weight: 600;
    }

    .subInfo {
        font-size: 14px;
    }

    .img {
        display: block;
        clear: both;
        height: 30px;
        background: #f8f8f8;
        line-height: 30px;
        font-size: 13px;
        color: #222;
        margin-top: 56px;
    }

        .img img {
            height: 30px;
            margin-right: 20px;
        }

    .aroundInfo {
        margin-top: 20px;
        width: 100%;
        height: 150px;
        border-bottom: 1px solid #eeeeee;
        overflow: hidden;
    }

    .areaName, .visitTime, .houseRecord, .communityName {
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        font-size: 15px;
    }

    .label {
        color: black;
        height: 15px;
        font-size: 15px;
        color: gray;
    }

    .component-agent-es-pc-6 {
        position: relative;
        display: block;
        font-size: 0;
        padding-top: 20px;
        padding-bottom: 35px;
        height: 170px;
    }

    .agent-img {
        width: 120px;
        height: 150px;
        float: left;
        margin-right: 20px;
    }

    .img-wrapper {
        width: 120px;
        height: 120px;
    }

    .brokerInfoText {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }

    .weapp-code {
        float: left;
    }

    .brokerNameA {
        font-size: 20px;
        font-weight: 600;
        color: black;
        float: left;
        margin-right: 15px;
    }

    .by {
        height: 20px;
    }

    .dy_tag {
        margin-top: 10px;
        margin-left: 15px;
        line-height: 20px;
        font-size: 15px;
        background-color: lavender;
    }

    .evaluate {
        margin-top: 15px;
        color: lightgray;
    }

    .phone {
        font-size: 18px;
        margin-top: 10px;
        color: green;
    }

    .weapp-code {
        color: black;
        text-align: center;
    }

    .bleft {
        border-bottom: 1px solid #eeeeee;
    }

    .basic {
        border-bottom: 1px solid #eeeeee;
        width: 100%;
    }

    .base {
        border-bottom: 1px solid #eeeeee;
    }

    .stable td {
        width: 250px;
        height: 40px;
    }

    .newwrap {
        overflow: hidden;
    }

        .newwrap .name {
            width: 30%;
            height: 50px;
            display: block;
            float: left;
            font-size: 14px;
            line-height: 50px;
            margin-top: 20px;
            border-bottom: 1px solid #eeeeee;
        }

        .newwrap .context {
            width: 70%;
            height: 50px;
            display: block;
            float: left;
            font-size: 14px;
            line-height: 50px;
            margin-top: 20px;
            border-bottom: 1px solid #eeeeee;
        }
</style>
@using Models;
@{ 
    Sell sell = ViewBag.Only;
    Selling selling = ViewBag.Selling;
    Transactions tran = ViewBag.Tran;
}
<script src="~/Content/jquery-1.8.3.min.js"></script>
<link href="~/Content/shouye.css" rel="stylesheet" />
<script src="~/Content/modernizr-custom-v2.7.1.min.js"></script>
<div class="xiangiqng container">
    @*图片部分*@
    <div class="bleft">
        <div class="Xcontent">
            <ul class="Xcontent01">
                <li class="Xcontent08">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            @foreach (var item in ViewBag.SImg as List<SImg>)
                            {
                                <div class="carousel-item active">
                                    <img src="~/Content/selling/@item.Photo" class="d-block w-100" alt="...">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </li>
                <li class="Xcontent13">
                    <div>
                        <div class="price ">
                            <div class="total">@sell.SellPriceTo 万</div>
                            <div class="ptext">
                                <div class="unitPrice">
                                    <span class="unitPriceValue">@sell.SellPrice<i>元/平米</i></span>
                                </div>
                                <div class="">
                                    <span class="taxtext">首付及贷款情况请咨询经纪人</span><i></i>
                                </div>
                            </div>
                        </div>
                        <div class="houseInfo">
                            <div class="room">
                                <div class="mainInfo">
                                   @sell.SellHStructurechar
                                </div>
                                <div class="subInfo">
                                    @sell.SellFloor 层
                                </div>
                            </div>
                            <div class="type">
                                <div class="mainInfo" title="南 北">
                                    @sell.SellOrientation
                                </div>
                                <div class="subInfo">
                                    @sell.SellRenovation
                                </div>
                            </div>
                            <div class="area">
                                <div class="mainInfo">
                                    @sell.SellAreaTo 平米
                                </div>
                                <div class="subInfo">
                                    @sell.SellAType
                                </div>
                            </div>
                            <a class="img"><img src="~/Content/Image/首页/1573111250229.png">诚心卖，省心买</a>
                        </div>
                        <div class="aroundInfo">
                            <div class="communityName">
                                <i></i>
                                <span class="label">所在城市</span>
                                <a href="#" target="_blank" class="info ">@sell.SellAddress</a>
                            </div>
                            <div class="areaName">
                                <i></i>
                                <span class="label">小区名称</span>
                                <a href="#" target="_blank" class="info ">@sell.SellVillage</a>
                            </div>
                            <div class="visitTime">
                                <i></i>
                                <span class="label">看房时间</span>
                                <span class="info">@sell.SellTime</span>
                            </div>
                            <div class="houseRecord">
                                <span class="label">链家编号</span>
                                <span class="info">
                                    @sell.SellID
                                    <span class="jubao" data-lj_evtid="16224" data-lj_action_sourcetype="二手房源详情页举报按钮曝光" data-lj_action_event="ItemExpo" data-lj_action_pid="lianjiaweb">
                                        <a href="javascript:;" class="report LOGCLICK" data-lj_evtid="16225" data-lj_action_sourcetype="二手房源详情页举报按钮点击" data-lj_action_event="WebClick" data-lj_action_pid="lianjiaweb" data-hasuserreport="1">举报</a>
                                    </span>
                                </span>
                            </div>
                        </div>
                        <div class="component-agent-es-pc-6">
                            <div class="brokerInfo">
                                <a class="" href="https://dianpu.lianjia.com/1000000010091687" target="_blank">
                                    <img class="agent-img" src="~/Content/Image/Sale/p1.jpg" alt="">
                                </a>
                            </div>
                            <div class="brokerInfoText">
                                <div class="brokerName">
                                    <a class="brokerNameA" href="#" target="_blank">
                                        @sell.SalesmanID
                                    </a>
                                    <div class="dy">
                                        <span class="dy_tag">恋家</span>
                                    </div>
                                </div>
                                @*<div class="evaluate" id="evaluate">
                                    <span>评分:4.9</span>
                                    <span>/61次评价</span>
                                </div>*@
                                <div class="phone">
                                    @sell.Salesman.SalesmanPhone
                                </div>
                            </div>
                            <div class="weapp-code">
                                <img class="img-wrapper" src="~/Content/Image/Sale/W1.png">
                                <div class="qrcode-wrapper">
                                    微信扫码拨号
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    @*基本信息*@
    <div class="basic">
        <div class="" style="width:900px;">
            <h3 style="margin-bottom:20px;margin-top:20px;">基本信息</h3>
            <div class="introContent">
                <div class="base">
                    <div class="basecontent" style="margin-bottom:20px;">
                        <table class="stable" style="font-size:14px;">
                            <tr>
                                <td>基本信息</td>
                                <td>房屋户型&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellHStructurechar</td>
                                <td>所在楼层&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellFloor</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>建筑面积&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellArea</td>
                                <td>户型结构&nbsp;&nbsp;&nbsp;&nbsp;复式</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>套内面积&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellAreaTo</td>
                                <td>建筑类型&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellAType</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    房屋朝向&nbsp;&nbsp;&nbsp;&nbsp;
                                    @if (sell.SellOrientation == 1)
                                    {
                                        @:坐北朝南
                                    }
                                    else if (sell.SellOrientation == 2)
                                    {
                                        @:坐南朝北
                                    }
                                    else if (sell.SellOrientation == 3)
                                    {
                                        @:坐东朝西
                                    }
                                    else
                                    {
                                        @:坐西朝东
                                    }
                                </td>
                                <td>建筑结构&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellBStructure</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>装修情况&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellRenovation</td>
                                <td>梯户比例&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellScale</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>供暖方式&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellHeating</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="transaction">
                    <div class="content" style="margin-top:20px;">
                        <table class="stable" style="font-size:14px;">
                            <tr>
                                <td>交易属性</td>
                                <td>挂牌时间&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionTime</td>
                                <td>交易权属&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionCommodity</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>上次交易&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionOldTransaction</td>
                                <td>房屋用途&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionPurpose</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>房屋年限&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionYears</td>
                                <td>产权所属&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionPropertyright</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>抵押信息&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionMortgage</td>
                                <td>房本备件&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionPOC</td>

                        </table>
                    </div>
                </div>

                <div class="disclaimer" style="padding-top: 10px; font-size:12px; margin-top:20px;margin-bottom:20px;">特别提示：本房源所示信息仅供参考，购房时请以该房屋档案登记信息、产权证信息以及所签订合同条款约定为准；本房源公示信息不做为合同条款，不具有合同约束力。</div>

            </div>
        </div>
    </div>
    @*房源特色*@
    <div class="newwrap baseinform">
        <h3 style="margin-top:20px;margin-bottom:20px;">房源特色</h3>
        <div class="introContent showbasemore">
            <div class="newwrap_div">
                <span class="name">交通出行</span>
                <span class="context">@selling.SellingTraffic</span>
            </div>
            <div class="newwrap_div">
                <span class="name">周边配套</span>
                <span class="context">@selling.SellingInfrastructure</span>
            </div>
            <div class="newwrap_div">
                <span class="name">税费服务</span>
                <span class="context">@selling.SellingTaxation</span>
            </div>
            <div class="newwrap_div">
                <span class="name">户型介绍</span>
                <span class="context">@selling.SellingIntroduce</span>
            </div>
            <div class="newwrap_div">
                <span class="name">小区介绍</span>
                <span class="context">@selling.SellingVillage</span>
            </div>
        </div>
    </div>
</div>



