
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_House.cshtml"; }
<style>
    .aaaaa {
        margin-bottom:50px;
        margin-top:50px;
        height:600px;
        overflow:hidden;
    /*border: 1px solid red;*/
    }
    .left {
        float: left;
        width: 40%;
        /*border: 1px solid red;*/
    }
    .right {
        float: left;
        width: 50%;
        /*border: 1px solid red;*/
        margin-left:50%;
    }

    .total {
        width: 50%;
        font-size: 32px;
        color: red;
        font-weight: 600;
        float: left;
    }

    .ptext {
        width: 40%;
        float: left;
    }

    .unitPriceValue {
        font-size: 20px;
        font-weight: 400;
    }

    .price {
        margin-top: 30px;
        height: 60px;
        border-bottom: 1px solid #eeeeee;
    }

    .houseInfo {
        margin-top: 20px;
        width: 100%;
        height: 120px;
        border-bottom: 1px solid #eeeeee;
        overflow: hidden;
    }

    .room, .type, .area {
        width: 33%;
        float: left;
        margin-bottom: 20px;
    }

    .mainInfo {
        font-size: 18px;
        font-weight: 600;
    }

    .subInfo {
        font-size: 14px;
    }

    .aimg {
        display: block;
        clear: both;
        height: 30px;
        background: #f8f8f8;
        line-height: 30px;
        font-size: 13px;
        color: #222;
        margin-top: 56px;
    }

        .img img {
            height: 30px;
            margin-right: 20px;
        }

    .aroundInfo {
        margin-top: 20px;
        width: 100%;
        height: 150px;
        border-bottom: 1px solid #eeeeee;
        overflow: hidden;
    }

    .areaName, .visitTime, .houseRecord, .communityName {
        height: 30px;
        line-height: 30px;
        margin-top: 5px;
        font-size: 15px;
    }

    .label {
        color: black;
        height: 15px;
        font-size: 15px;
        color: gray;
    }

    .component-agent-es-pc-6 {
        position: relative;
        display: block;
        font-size: 0;
        padding-top: 20px;
        padding-bottom: 35px;
        height: 170px;
    }

    .agent-img {
        width: 120px;
        height: 150px;
        float: left;
        margin-right: 20px;
    }

    .img-wrapper {
        width: 120px;
        height: 120px;
    }

    .brokerInfoText {
        float: left;
        margin-right: 20px;
        margin-top: 10px;
    }

    .weapp-code {
        float: left;
    }

    .brokerNameA {
        font-size: 20px;
        font-weight: 600;
        color: black;
        float: left;
        margin-right: 15px;
    }

    .by {
        height: 20px;
    }

    .dy_tag {
        margin-top: 10px;
        margin-left: 15px;
        line-height: 20px;
        font-size: 15px;
        background-color: lavender;
    }

    .evaluate {
        margin-top: 15px;
        color: lightgray;
    }

    .phone {
        font-size: 18px;
        margin-top: 10px;
    }

    .weapp-code {
        color: black;
        text-align: center;
    }

    .bleft {
        border-bottom: 1px solid #eeeeee;
    }
    /*基本信息*/
    .basic {
        border-bottom: 1px solid #eeeeee;
        width: 100%;
        margin-bottom:50px;
    }

    .base {
        border-bottom: 1px solid #eeeeee;
    }

    .stable td {
        width: 400px;
        height: 40px;
    }
    /*房源特色样式*/
    .newwrap {
        overflow: hidden;
        margin-bottom:100px;
    }

        .newwrap .name {
            width: 30%;
            height: 50px;
            display: block;
            float: left;
            font-size: 14px;
            line-height: 50px;
            margin-top: 20px;
            border-bottom: 1px solid #eeeeee;
        }

        .newwrap .context {
            width: 70%;
            height: 50px;
            display: block;
            float: left;
            font-size: 14px;
            line-height: 50px;
            margin-top: 20px;
            border-bottom: 1px solid #eeeeee;
        }
    .content__title {
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        color: #101d37;
    }
</style>
<link href="~/Content/style.css" rel="stylesheet" />
@using Models;
@{
    Sell sell = ViewBag.Only;
    Selling selling = ViewBag.Selling;
    Transactions tran = ViewBag.Tran;
    List<SImg> imgs = ViewBag.SImg;
}
<script src="~/Content/jquery-1.8.3.min.js"></script>
<link href="~/Content/shouye.css" rel="stylesheet" />
<script src="~/Content/modernizr-custom-v2.7.1.min.js"></script>

<div class="container">
    <p class="content__title">
        @sell.SellAddress   @sell.SellVillage
        @if (sell.SellOrientation == 1)
        {
            @:坐北朝南
        }
        else if (sell.SellOrientation == 2)
        {
            @:坐南朝北
        }
        else if (sell.SellOrientation == 3)
        {
            @:坐东朝西
        }
        else
        {
            @:坐西朝东
        }

    </p>
</div>
<div class="xiangiqng container">
    @*图片部分*@
    <div class="aaaaa">
        <div class="left">
            <div class="wrap">
                <div class="biger" id="biger"></div>
                <div class="imgs">
                    <div class="main" id="main">
                        <div class="mask" id="mask"></div>
                    </div>
                    <ul class="smaller" id="smaller"></ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="price ">
                <div class="total">@(sell.SellPriceTo / 10000) 万</div>
                <div class="ptext">
                    <div class="unitPrice">
                        <span class="unitPriceValue">@sell.SellPrice<i>元/平米</i></span>
                    </div>
                    <div class="">
                        <span class="taxtext">首付及贷款情况请咨询经纪人</span><i></i>
                    </div>
                </div>
            </div>
            <div class="houseInfo">
                <div class="room">
                    <div class="mainInfo">
                        @sell.SellHStructurechar
                    </div>
                    <div class="subInfo">
                        @sell.SellFloor 层
                    </div>
                </div>
                <div class="type">
                    <div class="mainInfo" title="南 北">
                        @if (sell.SellOrientation == 1)
                        {
                            @:坐北朝南
                        }
                        else if (sell.SellOrientation == 2)
                        {
                            @:坐南朝北
                        }
                        else if (sell.SellOrientation == 3)
                        {
                            @:坐东朝西
                        }
                        else
                        {
                            @:坐西朝东
                        }
                    </div>
                    <div class="subInfo">
                        @{
                            if (sell.SellRenovation == 1)
                            {
                                @:精装
                            }
                            else
                            {
                                @:毛坯
                            }
                        }
                    </div>
                </div>
                <div class="area">
                    <div class="mainInfo">
                        @sell.SellAreaTo 平米
                    </div>
                    <div class="subInfo">
                        @{
                            if (sell.SellAType == 1)
                            {
                                @:板塔结构
                            }
                            else
                            {
                                @:其他
                            }
                        }
                    </div>
                </div>
                <a class="aimg">@*<img src="~/Content/Image/首页/1573111250229.png">*@诚心卖，省心买</a>
            </div>
            <div class="aroundInfo">
                <div class="communityName">
                    <i></i>
                    <span class="label">所在城市</span>
                    <span class="info ">@sell.SellAddress</span>
                </div>
                <div class="areaName">
                    <i></i>
                    <span class="label">小区名称</span>
                    <span class="info ">@sell.SellVillage</span>
                </div>
                <div class="visitTime">
                    <i></i>
                    <span class="label">看房时间</span>
                    <span class="info">
                        @if (sell.SellTime == 1)
                        {
                            @:上午（8:00-12:00）
                        }
                        else if (sell.SellTime == 2)
                        {
                            @:下午（13:00-17:00）
                        }
                        else if (sell.SellTime == 3)
                        {
                            @:晚上（17:00-22:00）
                        }
                        else
                        {
                            @:全天（8:00-22:00）
                        }
                    </span>
                </div>
                <div class="houseRecord">
                    @{ if (Session["Userds"]!=null&&ViewBag.a!=0)
                        {
                            <a href="/Selling/RFollow?id=@sell.SellID" style="color:black">取消收藏</a>
                        }
                        else
                        {
                            <a href="/Selling/SFollow?id=@sell.SellID" style="color:black">我要收藏</a>
                        }
                    }
                </div>
            </div>
            <div class="component-agent-es-pc-6" style="z-index:-1;">
                <div class="brokerInfo">
                    <a class="" href="https://dianpu.lianjia.com/1000000010091687" target="_blank">
                        <img class="agent-img" src="~/Content/Photo/@sell.Salesman.Photo" alt="">
                    </a>
                </div>
                <div class="brokerInfoText" >
                    <div class="phone">
                        销售：@sell.Salesman.SalesmanName
                    </div>
                    <div class="phone">
                        电话：@sell.Salesman.SalesmanPhone
                    </div>
                    <div class="phone">
                        微信：@sell.Salesman.SalesmanVX
                    </div>
                </div>
                <div class="weapp-code">
                    <img class="img-wrapper" src="~/Content/Image/Sale/W1.png">
                    <div class="qrcode-wrapper">
                        微信扫码加好友
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @*基本信息*@
    <div class="basic">
        <div class="" style="width:900px;">
            <h3 style="margin-bottom:20px;margin-top:20px;">基本信息</h3>
            <div class="introContent">
                <div class="base">
                    <div class="basecontent" style="margin-bottom:20px;">
                        <table class="stable" style="font-size:14px;">
                            <tr>
                                <td>基本信息</td>
                                <td>房屋户型&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellHStructurechar</td>
                                <td>所在楼层&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellFloor</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>建筑面积&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellArea</td>
                                <td>户型结构&nbsp;&nbsp;&nbsp;&nbsp;复式</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>套内面积&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellAreaTo</td>
                                <td>
                                    建筑类型&nbsp;&nbsp;&nbsp;&nbsp;
                                    @{
                                        if (sell.SellRenovation == 1)
                                        {
                                            @:精装
                                        }
                                        else
                                        {
                                            @:毛坯
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    房屋朝向&nbsp;&nbsp;&nbsp;&nbsp;
                                    @if (sell.SellOrientation == 1)
                                    {
                                        @:坐北朝南
                                    }
                                    else if (sell.SellOrientation == 2)
                                    {
                                        @:坐南朝北
                                    }
                                    else if (sell.SellOrientation == 3)
                                    {
                                        @:坐东朝西
                                    }
                                    else
                                    {
                                        @:坐西朝东
                                    }
                                </td>
                                <td>
                                    建筑结构&nbsp;&nbsp;&nbsp;&nbsp;
                                    @if (sell.SellBStructure == 1)
                                    {
                                        @:钢混结构
                                    }
                                    else
                                    {
                                        @:其他
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    装修情况&nbsp;&nbsp;&nbsp;&nbsp;
                                    @{
                                        if (sell.SellRenovation == 1)
                                        {
                                            @:精装
                                        }
                                        else
                                        {
                                            @:毛坯
                                        }
                                    }
                                </td>
                                <td>梯户比例&nbsp;&nbsp;&nbsp;&nbsp;@sell.SellScale</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    供暖方式&nbsp;&nbsp;&nbsp;&nbsp;
                                    @{
                                        if (sell.SellHeating == 1)
                                        {
                                            @:集中供暖
                                        }
                                        else
                                        {
                                            @:自给自足
                                        }
                                    }
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="transaction">
                    <div class="content" style="margin-top:20px;">
                        <table class="stable" style="font-size:14px;">
                            <tr>
                                <td>交易属性</td>
                                <td>挂牌时间&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionTime.ToString()</td>
                                <td>
                                    交易权属&nbsp;&nbsp;&nbsp;&nbsp;
                                    @{
                                        if (tran.TransactionCommodity == 1)
                                        {
                                            @:商品房
                                        }
                                        else
                                        {
                                            @:其他
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>上次交易&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionOldTransaction</td>
                                <td>房屋用途&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionPurpose</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>房屋年限&nbsp;&nbsp;&nbsp;&nbsp;@tran.TransactionYears</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    抵押信息&nbsp;&nbsp;&nbsp;&nbsp;
                                    @{
                                        if (tran.TransactionMortgage == 1)
                                        {
                                            @:无抵押
                                        }
                                        else
                                        {
                                            @:有抵押
                                        }
                                    }
                                </td>
                                <td>
                                    房本备件&nbsp;&nbsp;&nbsp;&nbsp;
                                    @{
                                        if (tran.TransactionPOC == 1)
                                        {
                                            @:已备份
                                        }
                                        else
                                        {
                                            @:未备份
                                        }
                                    }
                                </td>

                        </table>
                    </div>
                </div>

                <div class="disclaimer" style="padding-top: 10px; font-size:12px; margin-top:20px;margin-bottom:20px;">特别提示：本房源所示信息仅供参考，购房时请以该房屋档案登记信息、产权证信息以及所签订合同条款约定为准；本房源公示信息不做为合同条款，不具有合同约束力。</div>

            </div>
        </div>
    </div>
    @*房源特色*@
    <div class="newwrap baseinform">
        <h3 style="margin-top:20px;margin-bottom:20px;">房源特色</h3>
        <div class="introContent showbasemore">
            <div class="newwrap_div">
                <span class="name">交通出行</span>
                <span class="context">@selling.SellingTraffic</span>
            </div>
            <div class="newwrap_div">
                <span class="name">周边配套</span>
                <span class="context">@selling.SellingInfrastructure</span>
            </div>
            <div class="newwrap_div">
                <span class="name">税费服务</span>
                <span class="context">@selling.SellingTaxation</span>
            </div>
            <div class="newwrap_div">
                <span class="name">户型介绍</span>
                <span class="context">@selling.SellingIntroduce</span>
            </div>
            <div class="newwrap_div">
                <span class="name">小区介绍</span>
                <span class="context">@selling.SellingVillage</span>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        window.onload = function () {
            var biger = document.getElementById('biger');
            var main = document.getElementById('main');
            var smaller = document.getElementById('smaller');
            var mask = document.getElementById('mask');
            var wrap = biger.parentNode;
            var imgArr = [
                //{ "path": "../../Content/Selling/a1.jpg" },
                //{ "path": "../../Content/Selling/a2.jpg" }
                    @{
                        for (int i = 0; i < imgs.Count(); i++)
                        {
                            if (i == imgs.Count())
                            {
                            @:{ "path": "../../Content/Selling/@imgs[i].Photo" }
                            }
                            else {
                            @:{ "path": "../../Content/Selling/@imgs[i].Photo" },
                            }
                        }
                    }
                ];
                                var imgSum = imgArr.length;
                                if (imgSum > 5) {
                                    imgSum = 5;
                                }
                                for (var i = 0; i < imgSum; i++) {
                                    var lis = document.createElement('li');
                                    var imgs = document.createElement('img');
                                    imgs.src = imgArr[i].path;
                                    lis.appendChild(imgs);
                                    smaller.appendChild(lis);
                                }
                                var mainImg = document.createElement('img');
                                var bigImg = document.createElement('img');
                                var liArr = smaller.children;
                                bigImg.src = mainImg.src = liArr[0].children[0].src;
                                main.insertBefore(mainImg, mask);
                                biger.appendChild(bigImg);
                                var bigPic = biger.children[0];
                                liArr[0].className = 'current';
                                for (var i = 0; i < liArr.length; i++) {
                                    liArr[i].index = i;
                                    liArr[i].onclick = function () {
                                        this.className = 'current';
                                        bigPic.src = main.children[0].src = this.children[0].src;
                                        for (var j = 0; j < liArr.length; j++) {
                                            if (this != liArr[j]) {
                                                liArr[j].removeAttribute('class');
                                                liArr[j].removeAttribute('className');
                                            }
                                        }
                                    }
                                }
                                main.onmouseenter = function () {
                                    mask.style.display = 'block';
                                    biger.style.display = 'block';
                                }
                                main.onmouseleave = function () {
                                    mask.style.display = 'none';
                                    biger.style.display = 'none';
                                }
                                main.onmousemove = function (e) {
                                    var e = e || window.event;
                            var pagex = e.pageX || scroll().left + e.clientX;
                var pagey = e.pageY || scroll().top + e.clientY;
                            pagex = pagex - wrap.offsetLeft - mask.offsetWidth / 2;;
                pagey = pagey - wrap.offsetTop - mask.offsetHeight / 2;
                if (pagex < 0) {
                    pagex = 0;
                }
                if (pagey < 0) {
                    pagey = 0;
                }
                if (pagex >
                    main.offsetWidth - mask.offsetWidth) {
                    pagex = main.offsetWidth - mask.offsetWidth;
                }
                if (pagey > main.offsetHeight - mask.offsetHeight) {
                    pagey = main.offsetHeight - mask.offsetHeight;
                }
                mask.style.left = pagex + 'px';
                mask.style.top = pagey + 'px';
                var scale = (bigPic.offsetWidth - biger.offsetWidth) / (main.offsetWidth - mask.offsetWidth);
                    var xx = pagex * scale;
                    var yy = pagey * scale;
                    bigPic.style.left = -xx + 'px';
                bigPic.style.top = -yy + 'px';
            }
        }

        // 屏幕滚动
        function scroll() {
            if (window.pageXOffset != undefined) {
                return {
                    "left": window.pageXOffset,
                    "top": window.pageYOffset
                }
            } else if (document.compatMode != 'BackCompat') {
                return {
                    "left": document.body.scrollLeft,
                    "top": document.body.scrollTop
                }
            } else {
                return {
                    "left": document.documentElement.scrollLeft,
                    "top": document.documentElement.scrollTop
                }
            }
        }

    </script>
}


